@import "tailwindcss";

.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-lato {
  font-family: var(--font-lato), system-ui, sans-serif;
}

.font-ubuntu {
  font-family: var(--font-ubuntu), sans-serif;
}
